<h1><%= @race.name ? "Edit " : "New " %>Race</h1>
<div class="form_input"><%= form_with(model: [@game, @race], local: true) do |f| %><?div>
<div class="form_input_label"><%= f.label :name %></div>
<div class="form_input"><%= f.text_field :name %></div>
<div class="form_input"><%= f.submit %></div>
<% end %>
</hr>