<div>
<div class="navbar">
<% @games = Game.all %>
<% @games.each do |game| %>
<a><%= link_to game.name, game_races_path(game.id), class: "nav-item" %></a>
<% end %>
<a class="nav-item-empty"></a>

<div class="nav-item" id="user-sign-in" >
  <% if user_signed_in? %>
    <%= link_to current_user.email, edit_user_registration_path %>
    <%= link_to "Logout", destroy_user_session_path, method: :delete %>
  <% else %>
    <%= link_to "Sign up", new_user_registration_path %>
    <%= link_to "Login", new_user_session_path %>
  <% end %>
</div>

</div>
</div>