<div>
<div class="navbar" style="margin: 0; padding: 0;">
<% @games = Game.all %>
<% @games.each do |game| %>
<a><%= link_to game.name, games_choose_game_path(game), method: :post, class: "nav-item" %></a>
<% end %>
<a><%= link_to "+", new_game_path, class: 'nav-item' %></a>

<div class="nav-item-empty">
<% if notice %>
<p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
<p class="alert alert-danger"><%= alert %></p>
<% end %>
</div>


<div class="nav-item" id="user-sign-in" >
  <% if user_signed_in? %>
    <%= link_to current_user.email, edit_user_registration_path %>
    <%= link_to "Logout", destroy_user_session_path, method: :delete %>
  <% else %>
    <%= link_to "Sign up", new_user_registration_path %>
    <%= link_to "Login", new_user_session_path %>
  <% end %>
</div>

</div>
</div>