<!DOCTYPE html>
<html>
  <head>
    <title>Armycreate</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="full-page-container">
      <div id="inner-page-container">

        <div id="nav-bar-container">
        <%= render '/layouts/navbar' %>
        </div>

        <div>
        <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
        <% end %>
        <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
        <% end %>
        <%= yield %>
        </div>

        <div id="two-column-container">
            <div id="main-column1">
            <%= render '/layouts/all_units' %>
            </div>
            <div id="main-column2">
            <%= render '/layouts/user_army_list' %>
            </div>
        </div>

      </div>
    </div>
  </body>
</html>
